.App {
  text-align: center;
}

.App-header {
  padding: 40px;
  background-color: #282c34;
  min-height: 200vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}
